* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
}

.background {
    background-color: rgb(48, 46, 46);
    height: 100vh;
    position: relative;
}

.tekrarBaslat {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    padding-top: 30px;
}

button {
    color: black;
    font-size: 18px;
    margin-left: 50px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;
    transition: 0.2s;
    border: none;
    background-color: white;
}

button:hover {
    transform: scale(1.08);
}

.sayiTahminEt {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 31px;
}

.ortaSerit {
    display: flex;
    justify-content: center;
}

.kare {
    width: 150px;
    height: 120px;
    background-color: white;
    text-align: center;
    margin-top: 10px;
    z-index: 1000;
}

.kare p {
    color: black;
    font-size: 60px;
    align-items: center;
    font-weight: bold;
    margin-top: 15%;
}

hr {
    position: relative;
    top: -8%;
    background-color: white;
    height: 4px;
}

.kontrolEt {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bilgiVer {
    font-size: 27px;
    line-height: 2;
    flex-basis: 30%;
}

.altTaraf {
    display: flex;
    margin: 75px auto;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

input {
    display: flex;
    margin: 0 auto;
    background-color: rgb(48, 46, 46);
    border: 3px solid white;
    margin-bottom: 25px;
    font-size: 40px;
    width: 55%;
    height: 90px;
    text-align: center;
    padding-right: 20px;
}

.check {
    display: flex;
    margin: 25px auto;
}

.bilgi {
    font-size: 25px;
}

.firstP {
    margin-bottom: 50px;
}

button:hover {
    background-color: rgb(130, 127, 127);
}


/*----------- RESPONSİVE TASARIM ------------*/



@media(max-width: 1000px) {
    .altTaraf {
        gap: 45px;
    }

    input {
        width: 50%;
        height: 75px;
    }

    .bilgiVer {
        flex-basis: 44%;
    }
}

@media(max-width: 700px) {
    .altTaraf {
        gap: 15px;
    }

    .bilgiVer {
        font-size: 26px;
        flex-basis: 52%;
    }

    input {
        height: 65px;
        width: 40%;
    }

    button {
        font-size: 15px;
    }
}

@media(max-width: 600px) {
    .altTaraf {
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }

    input {
        width: 45%;
    }

    .sayiTahminEt {
        margin-top: 70px;
        font-size: 28px;
    }

    .check {
        margin-top: 10px;
        font-size: 18px;
    }

    .kare {
        width: 130px;
        height: 100px;
    }

    .bilgiVer {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        font-size: 28px;
    }

    .bilgiVer p {
        text-align: center;
    }

    .firstP {
        margin: 0;
    }
}

